@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css' layer(utilities);
@import 'tailwindcss';
@theme {
  --color-background: #fff8e6;
  --color-muted: #fdf1da;
  --color-primary: #f2d8b2;
  --color-accent: #c4a77f;
  --color-foreground: #5f5013;
  --color-heading: #2f2a0a;
  --color-border: #ede0c2;
  --color-highlight: #fff2cb;
}

[data-theme='dark'] {
  --color-background: #1e1b16;
  --color-muted: #2c261f;
  --color-primary: #a38256;
  --color-accent: #d0b690;
  --color-foreground: #ede0c2;
  --color-heading: #fff8e6;
  --color-border: #3d362b;
  --color-highlight: #5f5013;
}

:root {
  --header-height: 3.5rem;
  --sticky-offset: 1.5rem;
  --sticky-top: calc(var(--header-height) + var(--sticky-offset));
}
body {
}
